@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,900,700,500,100italic,300italic,400italic,500italic,700italic,900italic|Roboto+Condensed:400,300,700|Roboto+Mono:400,100,300,500,700);
@media (min-width: 30em) {
  .row {
    width: 100% !important;
    display: table !important;
    table-layout: fixed !important; }

  .col {
    display: table-cell; }

  .row:before, .row:after {
    content: none; } }
body {
  padding: 0;
  margin: 0; }

nav img {
  width: 100%; }

.box {
  width: 150px;
  height: auto;
  margin: 10px;
  position: relative;
  display: inline-block; }
  .box img {
    max-width: 100%;
    height: auto; }
  .box .delete-box {
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 9999;
    opacity: 0;
    transition: 0.2s opacity;
    width: 36px;
    height: 36px;
    background: #7E7D7C;
    text-align: center;
    line-height: 39px;
    border-radius: 30px; }
    .box .delete-box i {
      color: #fff; }
    .box .delete-box:active {
      transform: scale(0.9); }

.in-the-zone:hover img {
  outline: 1px dotted gray; }
.in-the-zone:hover .delete-box {
  opacity: 1 !important; }

.drop-zone {
  width: 95vw;
  height: calc(100vh - 110px);
  outline: 1px solid #ccc;
  transition: width 0.5s; }

.catalog-wrapper {
  position: fixed;
  height: 100vh;
  width: 45vw;
  background: #ddd;
  right: -45vw;
  top: 0px;
  transition: 0.5s right; }

.catalog-inner {
  position: relative;
  width: 100%; }
  .catalog-inner .toggle-catalog {
    cursor: pointer;
    position: absolute;
    left: -50px;
    top: 120px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #FF9901;
    transition: background 0.2s;
    text-align: center;
    border-radius: 10px 0px 0px 10px; }
    .catalog-inner .toggle-catalog:hover {
      background: #FF8000;
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1); }
    .catalog-inner .toggle-catalog i {
      font-size: 32px;
      color: #fff;
      position: relative;
      top: 3px; }

.active-catalog {
  right: 0px; }

.scroller {
  padding-top: 60px;
  position: relative; }

.search {
  width: 100%;
  height: 60px;
  top: 0;
  position: absolute;
  background: #aaa; }
  .search input {
    height: 34px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding-left: 5px;
    width: 89%;
    border-color: #fff;
    transition: border-color 0.2s; }
    .search input:focus {
      outline: 0;
      border-color: #0086D4; }

#btn {
  background: #0086D4;
  color: #fff;
  font-family: sans-serif;
  font-weight: 100;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  padding: 10px 20px;
  top: 10px;
  right: 20px;
  cursor: pointer; }
  #btn:hover {
    background: #00559D; }

canvas {
  height: 100%;
  width: 100%; }
